group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Saturn

    nuget Thoth.Json.Net
    nuget Thoth.Json
    nuget WindowsAzure.Storage
    nuget Microsoft.AspNetCore.WebSockets
    nuget Microsoft.AspNetCore.WebSockets.Server
    nuget Microsoft.Azure.Services.AppAuthentication
    nuget Microsoft.Azure.KeyVault

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core
    nuget Fable.Fetch
    nuget Fable.Browser.Dom
    nuget Fable.Elmish.Debugger
    nuget Fable.Browser.WebSocket
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Fulma
    nuget Fable.Browser.XMLHttpRequest
    nuget Fable.FontAwesome.Free
    nuget Thoth.Json.Net
    nuget Thoth.Json

group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.Tools.Git
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Octo
    nuget Octokit
    github fsharp/FAKE modules/Octokit/Octokit.fsx
    nuget Fake.IO.FileSystem

group Pi
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Saturn
    nuget Microsoft.AspNetCore.NodeServices

    nuget Thoth.Json.Net
    nuget Thoth.Json
    nuget log4net
    nuget Elmish
    nuget Unosquare.Raspberry.IO
    nuget Unosquare.WiringPi